* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #130946;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.hidden{
    display: none;
}

.check__list {
    width: 400px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px
        rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.login__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

#name_input {
    width: 100px;
    height: 22px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

#name_button {
    border: none;
    width: 50px;
    height: 22px;
    background-color: rgba(233, 233, 233, 0);
    color: #ff438b;
}

.title {
    color: #ff438b;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #6d686a;
    padding-bottom: 15px;
}

.dday {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #6d686a;
}

#dday__title {
    font-weight: bold;
    color: #ff438b;
}

.date__submit {
    background: none;
    outline: none;
    border: 0;
    color: #ff438b;
    font-size: 18px;
}

.date__input {
    width: 130px;
    border: 0;
    border-bottom: 2px solid #6d686a;
}

ul {
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

.items {
    padding-top: 20px;
    height: 45%;
}

.item__delete {
    outline: none;
    background-color: white;
    border: 0;
    color: #ff438b;
    transition: all 200ms ease-in;
}

.item__delete:hover {
    color: #ff438b;
    transform: scale(1.1);
}

.item__submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.item__input {
    width: 90%;
    height: 24px;
    border: 0;
    border-radius: 15px;
    outline: none;
    background-color: rgb(233, 233, 233);
    padding: 2px 20px;
}

.input__icon {
    background: none;
    outline: none;
    border: 0;
    color: #ff438b;
    font-size: 18px;
}

.chanllenge__result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #6d686a;
    padding-top: 15px;
}

.chanllenge__result button {
    border: 0;
    outline: none;
    background-color: white;
    text-align: center;
    color: #ff438b;
    font-size: 13px;
    margin: 10px 10px;
}

.result__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff438b;
    font-size: 50px;
}

.clear, .fail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clear__count, .fail__count {
    color: #ff438b;
    font-size: 20px;
    font-weight: bold;
}